.main-container{
display: flex;

}
.cart-items{
    height: inherit;
margin: 0 0 0 10vw;
}
.payment-div{
    border: 1px solid black;
    width: 27vw;
    height: 47vh;
    padding: 2rem;
    margin:6vw 0 0 10vw;

}
.Main-Container{
    margin: 10rem 0 0 0 ;

}
.cart-img{
    width: 10vw;
}
.cart-item{
    width: 30vw;
    padding: 0.5rem;
    display: flex;
    border: 1px solid black;
    margin:  10px 0 0 0;
    border-radius: 10px;
    
}

.details-div{
    margin: 0 0 0 10px;
}
.delete-item{
    margin: 0 0 0 10rem;
    border: 1px solid white;

    background-color: white;
}
.item-price{
    font-size: 1.2rem;
}
.Size{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
#checkout-btn{
    margin: 1vh 0 0 4vh ;
    width:15vw;
}
.empty-cart{
    width: 90%;
}
@media only screen and (max-width:500px) {

    .cart-item{
        width: 95%;
    }
    .main-container{
        flex-direction: column;
    }
    .payment-div{
        width: 90%;
        height: inherit;
    }
     .span1{
        margin-left: 24vw;
     }
     .span2{
        margin-left: 17vw;
     }
     .span3{
        margin-left: 25vw;
     }
     .span4{
        margin-left: 15vw;
     }

     #checkout-btn{
        margin-top: 1rem;
width: 60%;

     }
     .delete-item{
        margin-left: 2rem;
     }
     .cart-img{
        width: 30%;
     }
}