#item{
    margin-left: 3rem;
    color: gray;
}
#icon{
    width: 3rem;
}
#bags{
    width: 70px;
   cursor: pointer;
    margin-left: 50px;
    list-style-type: none;
}
#user{
    margin: 10px 0 0 20px;
    cursor: pointer;
}
#items{
    color: black;
    font-size: 2rem;
}
@media screen and (max-width:500px){
    #bags{
        margin:20px 0 0  20px;
    }
}